body{
    background-color: white;
}
.auth-form input{
    width: 400px;
}
.auth-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-container{
    padding: 2vh;
    margin: 2vh;
}
.buttongroup-horizontal{
    display: flex;
    flex-direction: row;
}
#wrap-main{
    padding: 4vh !important;
}
.error-sans{
    padding: 0;
}
.auth-notifications{
    margin: .5vh;
}

.todo-link{
    font-size: 12px;
    margin-top:1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.5vw;
}
.delete-todo{
    opacity: .7;
}
.delete-todo:hover{
    color:#B03060 !important;
    opacity: 1;
}
.head-todo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40.5vw;
}
.head-todo .date{
    font-size: 10px;
}

#weather-content p{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
#weather-content h4{
    margin: 0;
    padding: 0;
}
#weather{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}
#user-profile{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: nowrap;
}
#profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#signout-btn{
    color: rgb(30, 30, 177);
    cursor: pointer;
}
#signout-btn:hover{
    color: #B03060;
    font-size: 13px;
    
}