body {
    background: rgb(17, 17, 17);
}

.yellowish-bg {
    background: rgb(205, 221, 111);
}

.yellowish-font {
    color: rgb(205, 221, 111);
}

.reddish-bg {
    background: rgb(221, 111, 111);
}

.btn-primary {
    background: rgb(221, 111, 111);
    border: none;
}

a {
    color: rgb(221, 111, 111);
    text-decoration: none;
}

hr {
    background: rgb(221, 111, 111);
}

.jumbotron {
    width: 1000px;
    height: 500px;
    margin: auto;
}

#page-container {
    width: 1000px;
    height: 500px;
    margin: auto;
    background: rgb(31, 31, 31);
    display: none;
}

.nav-link {
    height: 50px;
    text-align: center;
    padding-top: 12px;
    color: rgb(205, 221, 111);
}

#v-pills-tab .active {  
    color: rgb(88, 94, 59);
    background-color: rgb(205, 221, 111);
}

.nav-link:hover {
    color: rgb(241, 255, 161);
}

a:hover {
    color: rgb(241, 255, 161);
    text-decoration: none;
}

a:active {
    color: rgb(241, 255, 161);
    text-decoration: none;
} 

button {
    height: 50px;
    border-radius: 50%;
}

.list-group-item {
    background: rgb(70, 70, 70);
    color: rgb(241, 255, 161);
}

.list-group-item:hover {
    background: rgb(114, 114, 114);
    color: rgb(237, 255, 136);
}

.btn-info {
    height: 23px;
    width: 20px;
    border-radius: 50%;
}

.list-group-item .active {
    background: rgb(107, 107, 107);
    color: rgb(202, 216, 124);
}

.modal-content {
    background: rgb(70, 70, 70);
    color: rgb(241, 255, 161);
}

#update-container {
    background: rgb(70, 70, 70);
    color: rgb(241, 255, 161);
}

input[type=text] {
    background: rgb(126, 126, 126);
    border-color: rgb(92, 97, 66);
    color: rgb(255, 244, 244);
}