body {
    background: linear-gradient(0, #fdcd3b 70%, #ffed4b 70%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.placement {
    width: 90vw;
}

#card-container {
    height: 85vh;
}

.clickable {
    cursor: pointer;
}

.big-checkbox {
    transform: scale(2)
}

.bg-orange {
    background: #fdcd3b
}

.bg-yellow {
    background: #ffed4b
}

.hover-todo:hover {
        cursor: pointer;
        background-color: #ffed4b2f;
}

.shadow{
    box-shadow: 0px 0px 13px 8px rgba(0,0,0,0.2);
}

.shadow-text {
    text-shadow: 1px 1px 2px black, 0 0 3px blue, 0 0 2px darkblue;
}

.text-yellow {
    color: #ffed4b
}